.grid-container {
  display: grid;
  grid-template-columns: 250px 1300px;
  grid-template-rows: auto;
  grid-template-areas:
    "left-side center-area "
    "left-side center-area"
    "left-side center-area";
}
.center-area{
  color:black;
  background-color: #DCDCDC;


}
.right-side{

}
