.header {
  background-color: rgb(5, 5, 87);
  /* border-bottom: 1px solid #48be9d; */
  box-shadow: 0 0 3px rgb(0 0 0 / 50%);


}
.headerContainer{
  display: grid;
  grid-template-columns: 230px 1200px;
  grid-template-rows: auto;
  grid-template-areas:
    "left-side-header center-area-header "
    "left-side-header center-area-header "
    "left-side-header center-area-header "
}
.left-side-header{
  /* border-right: 1px solid black; */
  box-shadow: 0 0 3px rgb(0 0 0 / 50%);
  height:100%;
  box-shadow: 0 0 18px -2px black;
}
.headerName{
  color:white;
  font-size: 25px;
   margin-top:15px;
   font-weight:bold;



}
 /* .borderHeader{
  border-right: 1px solid #eee;
  height: 50px;
} */
.login-header {
  width: 940px;
  height: 48px;
  padding: 0px 10px;
  position: relative;
  margin: 0px auto;
}
.login-header img {
  height: 24px;
  padding: 12px 10px;
}
.login-header .loginLinks {
  right: 10px;
  top: 10px;
  position: absolute;
  cursor: pointer;
}
.login {
  margin-right: 4px;
  margin-left: 5px;
  text-shadow: 0 -1px 0 #318970;
  background: #6a0ee2;
  color: #ffffff;
  border: 1px solid #cccccc;
  font-size: 14px;
  padding: 4px 10px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.signup {
  /* margin-top: 20px; */
  background-color: #ff652f;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  width: auto;

  border-color: #ff652f;
  margin-left: 5px;
  padding: 4px 10px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media (max-width: 959px) {
  .login-header {
    width: auto;
  }
}
